@tailwind base;
@tailwind components;
@tailwind utilities;

/* LOGO SCROLL ANIMATION */

@keyframes logoScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-scroll {
  animation: logoScroll 20s linear infinite;
}

.animate-logo-scroll:hover {
  animation-play-state: paused;
}